.bounceIn {
    animation-name: bounceIn;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes bounceIn {

    from {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(0.8);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(0.91);
    }

    to {
        transform: scale(1);
    }
}