* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: OpenSans;
}

.wrapper {
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper__content {
    flex: 1;
}

.container {
    max-width: 1100px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
}

.row, .d-flex, .img-wrapper { 
    display: flex;
}
.d-block { display: block; }
.d-inline { display: inline; }

.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }

.flex-direction-column { flex-direction: column; }
.flex-direction-row { flex-direction: row; }

.align-items-baseline { align-items: baseline; }

.text-center { text-align: center; }

.bg-dark { background-color: #131415; }
.color-white { color: #fff; }
.color-gray { color: #656464; }
.color-dark { color: #221f1f; }
.color-orange { color: #f89513; }

.img-wrapper img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto; 
}

.fluid-img {
    max-width: 100%;
    max-height: 100%;
}

.nounderline { text-decoration: none; }

.logo__text {
    font-family: GoraFree;
    color: #f89513;
    font-size: 18px;
    text-decoration: none;
}

ul { 
    list-style: none;
    margin: 0;
}

.btn {
    padding: 18px 21px;
    background-color: #1c1f1d;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover { background-color: #f89513; }

.section-title {
    margin: 0;
    font-size: 49px;
    line-height: 38px;
    letter-spacing: 1.5px;
}

.w-100 {
    width: 100% !important;
}