header .contacts .contacts__phone {
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
}

header .contacts .contacts__schedule-link {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    color: rgba(248, 149, 19, 0.7);
}

header .contacts .dropdown:hover .contacts__schedule-link { color: rgba(255, 255, 255, 0.7); }

header .contacts .contacts__schedule {
    padding: 17px 20px;
    font-size: 14px;
    line-height: 1.29;
    color: #221f1f;
}

header .contacts .contacts__schedule .contacts__schedule-time {
    font-weight: bold;
    color: #f89513
}