.info-block { 
    margin: 30px auto;
}

.info-block .info-block__text {
    padding: 30px 222px 34px 185px;
    background: url('../../img/Rectangle 1.png') no-repeat center center;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 1.67;
}