.socials .socials__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.socials .socials__list .socials__list-item + .socials__list-item { margin-left: 10px;}

.socials .socials__list .socials__list-item .socials__link {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.socials .socials__list .socials__list-item .socials__link:hover { background-color: #f89513}

.socials .socials__list .socials__list-item .socials__link img { margin: auto; }
