.speciality {
    margin-bottom: 61px;
    border: solid 1px #000;
    padding: 30.5px 20.5px;
    margin-top: 7px;
}

.speciality .speciality__title {
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.5px;
}

.speciality .speciality__item {
    width: 195px;
}

.speciality .speciality__item-title {
    /* margin-top: 40px; */
    font-weight: bold;
    font-size: 11px;
    line-height: 4.64;
    letter-spacing: 2.6px; 
}

.speciality .speciality__item-desc {
    font-size: 18px;
    line-height: 1.64;
}

.speciality .speciality__item-list {
    text-align: start;
    list-style: disc;
    list-style-position: inside
}