.speciality {
    padding: 66px 0 102px 0;
    margin-bottom: 40px;
}

.speciality .speciality__title {
    margin-bottom: 65px;
    font-weight: bold;
    font-size: 49px;
    line-height: 0.78;
    letter-spacing: 1.5px;
}

.speciality .speciality__item {
    width: 195px;
}

.speciality .speciality__item+.speciality__item {
    margin-left: 75px;
}

.speciality .img-wrapper {
    width: 68px;
    height: 68px;
    margin: 0 auto;
    background: #f89513;
    border-radius: 50%;
    display: flex;
}

.speciality .img-wrapper img { margin: auto; }

.speciality .speciality__item-title {
    margin-top: 40px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2.6px; 
}

.speciality .speciality__item-text {
    margin-top: 30px;
}

.speciality .speciality__item-text, .speciality .speciality__item-list {
    font-size: 18px;
    line-height: 1.64;
}

.speciality .speciality__item-list {
    text-align: start;
    list-style: disc;
    list-style-position: inside
}