#news-block .top-news { 
    margin-left: 27px; 
}

#news-block .top-news .top-news__title { margin-bottom: 24px; }

#news-block .top-news .top-news__title span {
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

#news-block .top-news .top-news__list .top-news__list-item + .top-news__list-item { margin-top: 20px; }

#news-block .top-news .top-news__list .top-news__list-item { width: 160px; }