.top-news { 
    margin-bottom: 50px;
}

.top-news .top-news__title { margin-bottom: 24px; }

.top-news .top-news__title span {
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.top-news .top-news__list .top-news__list-item + .top-news__list-item { margin-top: 20px; }

.top-news .top-news__list .top-news__list-item { 
    width: 170.1px; 
    margin: 0 auto;
}